  body{
    /* background-color: #f3aee7 */
  }
  .tetris {
    padding: 8px;
    margin: 0 auto;
    width: 500px;
  }
  
  .tetris-board {
    display: flex;
    justify-content: space-between;
  }
  
  .tetris-board__row {
    display: flex;
  }
  
  /* Styles for tiles */
  [class*=col-] {
    padding: 12px;
    /* border: 1px solid #1a1c19; */
    border: 1px solid #000000;
    /* border: 1px solid #d1d0d0; */
  }
  
  /* Default (empty) board column */
  .col-0 {
    /* background-color: #020202; */
    /* background-color: #141414; */
    background-color: #1f1f1f;
  }
  
  /* Colors for tiles */
  .col-1 {
    background-color: #f21620;
  }
  
  .col-2 {
    background-color: #10ac84;
  }
  
  .col-3 {
    background-color: #5f27cd;
  }
  
  .col-4 {
    background-color: #d925cf;
  }
  
  .col-5 {
    background-color: #48dbfb;
  }
  
  .col-6 {
    background-color: #fd4964;
  }
  
  .col-7 {
    background-color: #72fa4e;
  }